anndata==0.12.9
leidenalg==0.11.0
lxml==6.0.2
matplotlib==3.10.8
networkx==3.6.1
numpy==2.3.5
numpy-typing-compat==20251206.2.3
pandas==2.3.3
pandas-stubs==3.0.0.260204
python-igraph==1.0.0
scanpy==1.12
scib-metrics==0.5.7
scikit-image==0.26.0
scikit-learn==1.8.0
scikit-misc==0.5.2
scipy==1.16.3
scipy-stubs==1.17.0.2
seaborn==0.13.2
types-seaborn==0.13.2.20251221
